{% load static %}
<!-- Top Bar -->

<nav class="navbar p-l-5 p-r-5">
   
    <ul class="nav navbar-nav navbar-left d-flex-inline">
        <li>
            <div class="navbar-header pt-1 pb-1">
                <a href="javascript:void(0);" class="zmdi zmdi-menu barss"></a>
                <a class="navbar-brand" href="{% url 'department:index' %}"><img src= {%  static "assets/images/school/excelogo.png" %} width="50" alt="Excelsior"><span class="m-l-10 text-light">Excelsior Royal</span></a>
            </div>
            
        </li>
       
        <li>
            <a href="javascript:void(0);" role="button"><i class="zmdi zmdi-flag"></i>
       
            </a>
        </li>
        <!-- <li class="navbar-header social_share">                            
            <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-facebook"></i></button>
            <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-twitter"></i></button>
            <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-instagram"></i></button>
        </li> -->
        <li class="">
            
            <a href="{% url 'department:about' %}" class="" data-close="true" style="font-size
            :large; font-weight:bolder;">About Us</i></a>
           
        </li>  
        <li class="float-right">
            <a href="#" class="mega-menu" data-close="true" style="font-size
            :large; font-weight:bolder;"><i class="zmdi zmdi-phone active"></i></a>
            <a href="https://web.facebook.com/excelsiorroyalschools" class="mega-menu" data-close="true" style="font-size
            :large; font-weight:bolder;"><i class="zmdi zmdi-facebook"></i></a>
            <a href="#" class="mega-menu" data-close="true" style="font-size
            :large; font-weight:bolder;"><i class="zmdi zmdi-twitter"></i></a>  
            <a href="https://instagram.com/excelsior.royal.schools?igshid=OGQ5ZDc2ODk2ZA==" class="mega-menu" data-close="true" style="font-size
            :large; font-weight:bolder;"><i class="zmdi zmdi-instagram"></i></a>
           
        </li>
    </ul>
</nav>