{% load static %}
<!-- Top Bar -->
<nav class="navbar p-l-5 p-r-5">
    <ul class="nav navbar-nav navbar-left">
        <li>
            <div class="navbar-header">
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="{% url 'student:index' %}"><img src= {%  static "assets/images/school/excelogo.png" %} width="50" alt="Excelsior"><span class="m-l-10 text-light">Excelsior Royal</span></a>
            </div>
        </li>
       
      
        <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="zmdi zmdi-flag"></i>
           
            </a>
        </li>
        <!-- <li>
            <div class="input-group">                
                <input type="text" class="form-control text-info" placeholder="greatness begins here...">
                <span class="input-group-addon">
                   
                </span>
            </div>
        </li>       -->
        <li class="">
            
            <a href="sign-in.html" class="" data-close="true" style="font-size
            :large; font-weight:bolder;">About Us</i></a>
           
        </li>  
        <li class="float-right">
            
            <a href="sign-in.html" class="mega-menu" data-close="true" style="font-size
            :large; font-weight:bolder;"> Sign In</i></a>
           
        </li>
    </ul>
</nav>